.f5_wrap {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
}
.f5_sidebar {
    width: 25%;
    display: block;
    padding: 10px;
    height: calc(100vh - 100px);
}

.f5_content {
    width: 75%;
    background: #ccc;
    border-top-left-radius: 20px;
    padding: 15px;
}
.user_info i {
    color: green;
}
.f5_sidebar .title {
    text-transform: uppercase;
    color: #c06402;
    font-weight: bold;
}
.sll_content {
    padding: 15px;
    background: #fff;
    border-top-left-radius: 20px;
    height: 100%;
}